.articulo {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: beige;
    color: black;
    border-radius: 15px;
    margin-top: 5vh;
}

.about p {
    margin: 5vh;
}
.articulo h3 {
    display: flex;
    justify-content: center;
}

.contact-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    background-color: beige;
    color: black;
    border-radius: 15px;
    margin-top: 5vh;
    align-items: center;
    justify-items: center;

    .about-image {
        width: 50%;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        text-decoration: underline;
    }
    a:hover {
        color: red;
    }
    button {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        text-decoration: underline;
    }
    button:hover {
        color:red;
    }
}


@media (max-width: 520px) {

    .contact-links {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        background-color: beige;
        color: black;
        border-radius: 15px;
        margin-top: 5vh;
    }

}